h1{
    font-size: 1.7rem;
}

h2{
    font-size: 1.2rem ;
}

.title{
    font-size: 1.5rem;
    font-weight: 600;
}
.title2{
    font-size: 1.2rem;
    font-weight: 500;
}
.title3{
    font-size: 1rem;
    font-weight: 500;
}

.text{
    font-size: .9rem;
    font-weight: 400;
}

:root{
    --primary-color: #071842;
    --primary-color2: #022682;
    --primary-color3: #1456bf;
    --color-border: #d28b07;
}